<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<!-- 카멜표기! -->
<configuration>
<settings>
<!-- 카멜표기로 해도 변수명을 맞춰주기 위함. -->
	<setting name="mapUnderscoreToCamelCase" value="true"/>
	<!-- db의 프라이머리 키값이 어떤건지 java에 알려주기 위함. -->
	<!-- 키 자동설정 -->
	<setting name="useGeneratedKeys" value="true"/>
</settings>
<typeAliases>
	<!-- 클래스명 단축 설정 -->
	<typeAlias type="com.myapp.marvel.Marvel" alias="Marvel"/>
</typeAliases>
</configuration>

