<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 연동하려는 아이의 패키지명과 클래스명 or 인터페이스명을 써줘야함 -->
<mapper namespace="person.PersonMapper">
<!-- 내가쓰고자하는 메소드의 이름을 아이디로 쓰면 -->
	<insert id="insertPerson">
		insert into person values(#{id},#{name},#{age})
	</insert>
	
	<update id="updatePerson">
		update person set name=#{name}, age=#{age} where id =#{id}
	</update>
	
	<delete id="deletePerson">
		delete from person where id =#{id}
	</delete>
	
	<!-- Person에 결과값을 담아주는 것 Person은 mybatisConfig의 alias값이랑 동일하게 적어줘야됨. -->
	<select id="selectList" resultType="Person">
		select id, name, age
		from person
	</select>
	
</mapper>