<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="taeKwonV" class="MySpring.ex03.TaeKwonV">
	<constructor-arg ref="punchAttack"></constructor-arg>
	<constructor-arg value="태권브이"></constructor-arg>
</bean>

<bean id="transformer" class="MySpring.ex03.Transformer">
<!-- setattack을 호출해서 missailAttack을 넣어준다. -->
	<property name="attack" ref="missailAttack"></property>
	<property name="name" value="트랜스포머"></property>
</bean>
	
<bean id="punchAttack" class="MySpring.ex03.PunchAttack"></bean>
<bean id="missailAttack" class="MySpring.ex03.MissailAttack"></bean>

</beans>
